################################################################################
# I2C Lacation assignments (FM-FMC pinout)
################################################################################
NET "I2C_SCL_0" LOC="AJ42" | IOSTANDARD = "LVCMOS18" | PULLUP;
NET "I2C_SDA_0" LOC="AK42" | IOSTANDARD = "LVCMOS18" | PULLUP;
################################################################################
