################################################################################
# I2C Location assignments (ADC224 pinout)
################################################################################
NET "I2C_SCL_3" LOC="ag27"| IOSTANDARD = LVTTL;       
NET "I2C_SDA_3" LOC="ag28"| IOSTANDARD = LVTTL;       
################################################################################
