################################################################################
# I2C Lacation assignments (ML605 pinout, connects to LPC connector)
################################################################################
NET "I2C_SCL_1" LOC="AF13";
NET "I2C_SDA_1" LOC="AG13";
################################################################################
