################################################################################
# I2C Location assignments (KC705 pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="K21" |IOSTANDARD=LVCMOS25;
NET "I2C_SDA_0" LOC="L21" |IOSTANDARD=LVCMOS25;
################################################################################
