################################################################################
# I2C Lacation assignments (SP605 pinout)
################################################################################
NET "I2C_SCL_0" LOC="T21";
NET "I2C_SDA_0" LOC="R22";
################################################################################
