################################################################################
# I2C Location assignments (ZC706 pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="AJ14" 	|IOSTANDARD=LVCMOS25;
NET "I2C_SDA_0" LOC="AJ18"	|IOSTANDARD=LVCMOS25;
################################################################################
