################################################################################
# I2C Location assignments (ADC250 Rear_fm_adapter )
################################################################################
NET "I2C_SCL_4" LOC="ag28" | PULLUP;#VM_SCLK
NET "I2C_SDA_4" LOC="al31" | PULLUP;#VM_DIN
################################################################################
