################################################################################
# I2C Location assignments (Zedboard pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="R7"    |IOSTANDARD=LVCMOS33;
NET "I2C_SDA_0" LOC="U7"    |IOSTANDARD=LVCMOS33;
################################################################################
