################################################################################
# I2C Lacation assignments (FMC pinout)
################################################################################
NET "I2C_SCL_0" LOC="F23" | IOSTANDARD = "LVCMOS25" | PULLUP;
NET "I2C_SDA_0" LOC="F24" | IOSTANDARD = "LVCMOS25" | PULLUP;
################################################################################
