################################################################################
# I2C Lacation assignments (ML605 pinout, connects to HPC connector)
################################################################################
NET "I2C_SCL_0" LOC="AK9";
NET "I2C_SDA_0" LOC="AE9";
################################################################################
