################################################################################
# I2C Location assignments (ZC702 pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="W11" 	|IOSTANDARD=LVCMOS25;
NET "I2C_SDA_0" LOC="W8"	|IOSTANDARD=LVCMOS25;
################################################################################
