################################################################################
# I2C Lacation assignments (ADC110 pinout)
################################################################################
NET "I2C_SCL_1" LOC="E18";
NET "I2C_SDA_1" LOC="E19";
################################################################################
