################################################################################
# I2C Lacation assignments (ADC224 pinout)
################################################################################
NET "I2C_SCL_0" LOC="H17";
NET "I2C_SDA_0" LOC="H18";
################################################################################
