################################################################################
# I2C Lacation assignments (FM-FMC Adapter pinout)
################################################################################
NET "I2C_SCL_2" LOC="F32" | PULLUP;
NET "I2C_SDA_2" LOC="F31" | PULLUP;
################################################################################
