################################################################################
# I2C Lacation assignments (ADC110 pinout)
################################################################################
NET "I2C_SCL_1" LOC="H9";
NET "I2C_SDA_1" LOC="H10";
################################################################################
