################################################################################
# I2C Lacation assignments (ADC250 pinout)
################################################################################
NET "I2C_SCL_0" LOC="BA15" | PULLUP;
NET "I2C_SDA_0" LOC="BA14" | PULLUP;
################################################################################
