################################################################################
# I2C Location assignments (vC709 pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="AT35" |IOSTANDARD=LVCMOS18;
NET "I2C_SDA_0" LOC="AU32" |IOSTANDARD=LVCMOS18;
################################################################################
