################################################################################
# I2C Lacation assignments (FMC pinout)
################################################################################
NET "I2C_SCL_0" LOC="AR33" | IOSTANDARD = "LVCMOS15" | PULLUP;
NET "I2C_SDA_0" LOC="AT33" | IOSTANDARD = "LVCMOS15" | PULLUP;
################################################################################
